@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg {
    background-color: #3e206e;
    height: 100vh;
    background-size: cover;
}

.bg-in {
    background-color: white;
    margin: auto;
    border-radius: 40px;
    overflow: hidden;
    white-space: nowrap;
}

.bt {
    height: 30px;
    width: 30px;
    border-radius: 40px;
    border-width: 0;
    background-color: #9b75bd;
    padding: 20px;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.bt1 {
    animation-name: move_left;
}

.bt2 {
    animation-name: move_right;
}

@keyframes move_left {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(50vw);
    }
}

@keyframes move_right {
    0% {
        transform: translateX(0vw);
    }

    100% {
        transform: translateX(50vw);
    }
}

.sp {
    background-color: #8e76b5;
}

.inst {
    font-weight: bold;
}

.mod {
    background-color: #373638;
}

.glow {
    box-shadow: 0 0 25px rgba(201, 207, 43, 0.8);
}

.btstart {
    padding: 10px;
}

.btstart:hover {
    animation-name: startorb;
    animation-duration: 0.35s;
    animation-fill-mode: forwards;
}

@keyframes startorb {
    0% {
        border-radius: 20px;
        color: white;
        transform: rotate(0deg);
    }

    100% {
        border-radius: 80px;
        color: #9b75bd;
        transform: rotate(360deg);
        box-shadow: 0 0 35px rgba(201, 207, 43, 0.8);
    }
}
